body {
  font-family: 'Open Sans', sans-serif; }

/* set colors*/
:root {
  --color-1: forestgreen;
  --color-2: lightskyblue;
  --color-3: darksalmon;
  --color-4: palegoldenrod;
  --color-5: mediumvioletred; }

.foo {
  min-height: 33vh;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  text-transform: uppercase; }

/* apply colors */
.foo-1 {
  background-color: var(--color-1); }

.foo-2 {
  background-color: var(--color-2); }

.foo-3 {
  background-color: var(--color-3); }

.foo-4 {
  background-color: var(--color-4); }

.foo-5 {
  background-color: var(--color-5); }

.fb-profile img.fb-image-lg {
  z-index: 0;
  width: 100%;
  margin-bottom: 10px; }

.fb-image-profile {
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%; }

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
  margin-left: 30px; }

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-left: 5px;
  background-color: #1da1f2;
  border-radius: 2px  white; }

.profile-userbuttons .btn:last-child {
  margin-right: 0px; }

@media (max-width: 768px) {
  .fb-profile-text > h1 {
    font-weight: 700;
    font-size: 16px; }
  .fb-image-profile {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; } }
