.home-page {
  background-image: url("../images/twtbg1.png");
  color: white;
  background-color: #1da1f2;
  padding: 120px 300px; }
  .home-page h2 {
    margin-bottom: 15px;
    font-size: 40px;
    text-align: left;
    margin-left: 150px; }

.home-page-right {
  padding-top: 40px; }
  .home-page-right img {
    max-width: 80px; }
  .home-page-right h1 {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    line-height: 64px; }
  .home-page-right h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center; }
  .home-page-right .btn-round {
    text-align: right;
    background-color: #1da1f2;
    margin-bottom: 20px;
    border-radius: 30px;
    margin-left: 90%; }
  .home-page-right .btn-full-width {
    width: 80%;
    color: black;
    background-color: #1da1f2;
    margin-bottom: 20px;
    border-radius: 30px;
    margin-left: 50px; }

header {
  font-size: 20px;
  color: blue;
  border-bottom: 1px solid #ccc; }

.twPc-div {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  height: 200px;
  max-width: 340px; }

.twPc-bg {
  background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
  background-position: 0 50%;
  background-size: 100% auto;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 4px 4px 0 0;
  height: 95px;
  width: 100%; }

.twPc-block {
  display: block !important; }

.twPc-button {
  margin: -35px -10px 0;
  text-align: right;
  width: 100%; }

.twPc-avatarLink {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: -30px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom; }

.twPc-avatarImg {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px; }

.twPc-divUser {
  margin: 5px 0 0; }

.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px; }

.twPc-divName a {
  color: inherit !important; }

.twPc-divStats {
  margin-left: 11px;
  padding: 10px 0; }

.twPc-Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto; }

ul.twPc-Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

.twPc-ArrangeSizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top; }

.twPc-ArrangeSizeFit a:hover {
  text-decoration: none; }

.twPc-StatValue {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s; }

.twPc-StatLabel {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s; }
