body {
  margin: 0;
  padding: 0; }

.navbar-laravel {
  height: 46px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%; }

.navbar-nav.mr-auto a {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold; }

.navbar-nav.mr-auto a.active {
  color: #1da1f2; }

.align-right {
  text-align: right; }

.btn-tweeter {
  background-color: #1da1f2;
  color: #fff;
  font-weight: bold;
  border-radius: 17px;
  padding: 5px 17px; }

.tweet-box {
  background-color: #E8F5FD; }

.home-page {
  background-image: url("../images/twtbg1.png");
  color: white;
  background-color: #1da1f2;
  padding: 120px 300px; }
  .home-page h2 {
    margin-bottom: 15px;
    font-size: 40px;
    text-align: left;
    margin-left: 150px; }

.home-page-right {
  padding-top: 40px; }
  .home-page-right img {
    max-width: 80px; }
  .home-page-right h1 {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    line-height: 64px; }
  .home-page-right h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center; }
  .home-page-right .btn-round {
    text-align: right;
    background-color: #1da1f2;
    margin-bottom: 20px;
    border-radius: 30px;
    margin-left: 90%; }
  .home-page-right .btn-full-width {
    width: 80%;
    color: black;
    background-color: #1da1f2;
    margin-bottom: 20px;
    border-radius: 30px;
    margin-left: 50px; }

.tweet-view-area {
  margin-top: 2px;
  background-color: white;
  padding: 50px 40px; }
  .tweet-view-area h1 {
    font-size: 30px;
    font-weight: bold; }
  .tweet-view-area p {
    color: #657786; }

.images-container {
  text-align: center; }
  .images-container .profile-icon {
    border-radius: 40px;
    width: 40px;
    margin: 8px auto; }

.tweet {
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  background-color: #fff;
  color: #212121;
  font-size: 11px; }
  .tweet .user {
    padding-right: 10px; }

.single-comment {
  padding: 10px 5px; }

footer {
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7%; }
  footer ul {
    text-align: left;
    margin-top: 1%;
    margin: 0;
    padding-top: 1%; }
    footer ul li {
      color: #66757F;
      font-size: 13px;
      padding-right: 1%;
      display: inline; }
      footer ul li a:link {
        color: #66757F; }
      footer ul li a:visited {
        color: #66757F; }
      footer ul li a:hover {
        color: #66757F; }

.h7 {
  font-size: 0.8rem; }

.gedf-wrapper {
  margin-top: 0.97rem; }

@media (min-width: 992px) {
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem; }
  .gedf-card {
    margin-bottom: 2.77rem; } }

/**Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none; }
